#welcome {
  font-family: "Niramit", sans-serif;
  font-size: 70px;
  color: black;
  margin-bottom: 10%;
}

#instructions {
  font-family: "Niramit", sans-serif;
  font-size: 24px;
  color: black;
}
#ViewStudentsButton {
  border-radius: 10px;
  color: white;
  background-color: #663399;
  text-align: center;
  display: inline-block;
  padding: 15px 32px;
  font-size: 20px;
}

#ViewWordsButton {
  border-radius: 10px;
  color: white;
  background-color: #0033cc;
  text-align: center;
  display: inline-block;
  padding: 15px 32px;
  font-size: 20px;
}

#ViewLettersButton {
  border-radius: 10px;
  color: white;
  background-color: #008000;
  text-align: center;
  display: inline-block;
  padding: 15px 32px;
  font-size: 20px;
}

#ViewSoundsButton {
  border-radius: 10px;
  color: white;
  background-color: #ff6600;
  text-align: center;
  display: inline-block;
  padding: 15px 32px;
  font-size: 20px;
}
