#display-letter {
  font-family: "Niramit", sans-serif;
  font-size: 100px;
  color: black;
  margin-bottom: 2%;
  display: inline-block;
}
.add-letter-button {
  font-family: "Niramit", sans-serif;
  border-radius: 10px;
  color: white;
  background-color: #0033cc;
  text-align: center;
  display: inline-block;
  padding: 15px 32px;
  font-size: 20px;
}
.link {
  color: #0033cc;
}
#letter-table {
  font-family: "Niramit", sans-serif;
  font-size: 20px;
  color: black;
}

#delete-letter {
  font-family: "Niramit", sans-serif;
  color: #ff3333;
}
.delete-div {
  margin-top: 10%;
  font-size: 40px;
  display: inline-block;
}

.add-students-to-letter {
  font-family: "Niramit", sans-serif;
}

#name-table {
  font-family: "Niramit", sans-serif;
  font-size: 24px;
}
#test-letter {
  font-size: "300px";
  font-family: "Niramit", sans-serif;
}
#trash-can {
  margin: 5px;
  font-size: 22px;
  display: inline-block;
}
#letter-name-table-header {
  font-size: 36px;
  display: inline-block;
}
