#display-student {
  font-family: "Niramit", sans-serif;
  font-size: 100px;
  color: black;
  margin-bottom: 2%;
}
#add-button {
  font-family: "Niramit", sans-serif;
  border-radius: 10px;
  color: white;
  background-color: #0033cc;
  text-align: center;
  display: inline-block;
  padding: 15px 32px;
  font-size: 20px;
}
.link {
  color: #0033cc;
}
.student-table {
  font-family: "Niramit", sans-serif;
  font-size: 20px;
  color: black;
}

#test-student-button {
  font-family: "Niramit", sans-serif;
  border-radius: 10px;
  color: white;
  background-color: #0033cc;
  text-align: center;
  display: inline-block;
  padding: 8px 26px;
  font-size: 20px;
  margin: 10px;
}
#add-to-student-button {
  font-family: "Niramit", sans-serif;
  border-radius: 10px;
  color: white;
  background-color: #0033cc;
  text-align: center;
  display: inline-block;
  padding: 8px 28px;
  font-size: 20px;
  margin-bottom: 5px;
}

#view-charts-button {
  font-family: "Niramit", sans-serif;
  border-radius: 10px;
  color: white;
  background-color: #008000;
  text-align: center;
  display: inline-block;
  padding: 15px 32px;
  font-size: 20px;
}
#student-detail {
  font-family: "Niramit", sans-serif;
}

/* #table-header {
  margin-left: 0%;
} */
#student-table-header {
  text-align: center;
}

#add-to-student-form {
  font-size: 24px;
  align-self: baseline;
}
.form-control {
  font-size: 24px;
}
#detail-form-control {
  font-size: 24px;
  height: 250px;
}
#trash-can {
  margin: 5px;
  font-size: 22px;
  display: inline-block;
}
#student-name-table-header {
  display: inline-block;
}
