#display-word {
  font-family: "Niramit", sans-serif;
  font-size: 100px;
  color: black;
  margin-bottom: 2%;
}
#add-word-button {
  border-radius: 10px;
  color: white;
  background-color: #0033cc;
  text-align: center;
  display: inline-block;
  padding: 15px 32px;
  font-size: 20px;
}
#link {
  color: #0033cc;
}
#word-table {
  font-family: "Niramit", sans-serif;
  font-size: 20px;
  color: black;
}
